<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org/">-->
<!--<head th:replace="fragments :: head"></head>-->
<!--<body class="container">-->
<!--<h1 th:text="${title}">Default Title</h1>-->
<!--<nav th:replace="fragments :: navigation"></nav><br/>-->

<!--&lt;!&ndash;<form method="post">&ndash;&gt;-->
    <!--&lt;!&ndash;<div th:each="show : ${shows}" class="checkbox">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="checkbox" name="ids" th:value="${show.id}" th:id="${show.id}"/>&ndash;&gt;-->
        <!--&lt;!&ndash;<label th:for="${show.id}" th:text="${show.name}"></label>&ndash;&gt;-->
        <!--&lt;!&ndash;<br />&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--&lt;!&ndash;<input type="submit" value="Delete Show" />&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->