<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>
<nav th:replace="fragments :: navigation"></nav><br/>

<p th:unless="${shows} and ${shows.size()}">No Shows</p>
<div th:if="${shows} and ${shows.size()}">
<table class="table table-hover">
    <tr>
        <th>Venue</th>
        <th>Show</th>
        <th>Description</th>

    </tr>

    <tr th:each="show : ${shows}" th:unless="${shows == null}" >
        <td th:text="${show.venue.name}"></td>
        <td th:text="${show.description}"></td>
        <td th:text="${show.name}"></td>


            <td th:each="show : ${shows}">
                <form action="index" method = "post">
                <input type="hidden" name="ids" th:value="${show.id}"  />
                    <!--<input type="submit" value="Delete"/>-->
                    <input type="submit" value="Approve" name="add" />
                </form>
            </td>

    </tr>
</table>
</div>


</body>
</html>