<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" th:object="${shows}">
    <label th:for="venue">Venue</label><br/>
    <select name="venueId">
        <option th:each="venue : ${venues}"
                th:text="${venue.name}"
                th:value="${venue.id}"></option>
    </select>
    <br/>

    <label th:for="name">Show Name</label>
    <input th:field="*{name}"/>
    <span th:errors="*{name}" class="error"></span><br/>
    <label th:for="description">Bands Playing</label><br/>
    <textarea class="form-control" th:field="*{description}"></textarea>
    <span th:errors="*{description}" class="error"></span><br/>
    <input type="submit" value="Add Show" />

</form>
</body>
</html>