<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav><br/>
<div>
<a href="/shows/add">Add Show</a>
</div>

<p th:unless="${shows} and ${shows.size()}">No Shows</p>
<div th:if="${shows} and ${shows.size()}">
<table class="table table-hover">
    <tr>
        <th>Venue</th>
        <th>Date</th>
        <th>Bands</th>

    </tr>

        <tr th:each="show : ${shows}" th:unless="${shows == null}" >
            <td th:text="${show.venue.name}"></td>
            <td th:text="${show.name}"></td>
            <td th:text="${show.description}"></td>
    </tr>
</table>
</div>

</body>
</html>