
body {
    color: blue;
    background-color: #00ff00;
    font-family: Aerial;
    margin-top:10px;
}
nav {
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;

}
.topcorner{
    position:absolute;
    top:5px;
    left: 10px;}

.heading{
    font-family: helvetica;
}
span{
    font-family: bazooka, comic sans ms;
}
.error{
    color: red;
    }