<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>
</head>
<body>

<nav th:fragment="navigation">
    <div th:if="!${admin}">
        <a href="/admin/login">Login</a>
        <a href="/admin/signup">| Sign up</a>
    </div>
    <div th:if="${admin}">
        <span th:text="${admin.adminName}"></span>
        <a href="/admin/logout">Log out</a>
    </div>
    <div>
        <a href="/shows">Shows |</a>
        <a href="/venue">Venues</a>
    </div>



</nav>

</body>
</html>